<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	
	{% block stylesheets %}
        {% stylesheets
            'bundles/app/styles/vendor.css'
            'bundles/app/styles/main.css'
             filter='cssrewrite'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
        {% endstylesheets %}
       
    {% endblock %}
  </head>
  <body>
    <!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <div id="page">
	{% block header %}
    {% endblock %}
    {% block theblog_body %}
    {% endblock %}
	{% block footer %}
    {% endblock %}
    </div><!-- #page -->
{% block javascripts %}
    {% javascripts
		'bundles/app/scripts/vendor/modernizr.js'
		'bundles/app/scripts/vendor.js'
		'bundles/app/scripts/plugins.js'
		'bundles/app/scripts/main.js'
        'bundles/app/scripts/js/index.js'
        'bundles/app/scripts/js/find.js'
        'bundles/app/scripts/js/commande.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script>

	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 

	  ga('create', 'UA-101744977-4', 'auto');

	  ga('send', 'pageview');

	 

	</script>
  </body>
</html>

