{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">L’ASSURANCE PERTE FINANCIÈRE</h1>
        <div class="section-body">
            {% image output="images/cover-img1.jpg"
            '@AppBundle/Resources/public/images/cover-img1.jpg'
            %}
          <img src="{{ asset_url }}" alt="Leaseway" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper tag-ta_c">La sécurité financière <span>avec l’assurance perte financière</span></div>
        </div><!-- .wrapper -->
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
            <div class="row">

              <div class="col-sm-2">
                <div class="img-container">
                    {% image output="images/tesseract-img_assurance.png"
                    '@AppBundle/Resources/public/images/tesseract-img_assurance.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </div>
              </div>
              <div class="col-sm-10">
                <div class="block block-text tag-fz_14">
                  <div class="block-header"><strong>Dans le cadre de votre contrat de location souscrit auprès de Leaseway, vous pouvez associer l’option facultative : assurance perte financière. Celle-ci peut vous éviter des dépenses imprévues.</strong></div>
                  <div class="block-body">
                    <p>Si un de vos véhicules de remplacement est déclaré épave ou volé, vous devrez rembourser au propriétaire du véhicule (c'est à dire le loueur) le solde éventuel entre la valeur à dire de l’expert et le solde du contrat.</p>
                    <p>Plus le contrat est récent et plus le montant de l'écart est important (10 à 30 % du prix du véhicule la 1ère année).
                      Pour vous couvrir contre cette situation tout à fait imprévisible, vous pouvez souscrire à l'assurance perte financière que Leaseway vous propose dans le cadre de ses contrats de location.</p>
                  </div>
                </div><!-- .block-text -->
              </div>

            </div><!-- .row -->
          </div><!-- .inner -->
        </div>

      </div>
      <div class="section-footer">
        <div class="inner tag-ff_3">
          <a class="wrapper" href="{{ asset('bundles/app/pdf/BULLETIN-ADHESION-PF.PDF') }}" title="Télécharger le bulletin d'adhésion">

            <div class="row">
              <div class="col-sm-2 col-xs-4">
                <div class="img-container img-inscription">
                    {% image output="images/assurance_inscription-form.png"
                    '@AppBundle/Resources/public/images/assurance_inscription-form.png'
                    %}
                  <img src="{{ asset_url }}" alt="Télécharger le bulletin d'adhésion" />
                    {% endimage %}
                </div>
              </div>
              <div class="col-sm-10 col-xs-8">
                <div class="txt-container tag-fw_br">
                  Télécharger le bulletin d'adhésion
                </div>
              </div>
            </div>

          </a><!-- .wrapper -->
        </div><!-- inner -->
      </div>
    </section><!-- #tesseract -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
