{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'comment-ca-marche' ? 'class="active"' }}><a href="{{ path('comment-ca-marche') }}">Comment ça marche</a></li>
              <li {{ route ==  'infos-pratiques' ? 'class="active"' }}><a href="{{ path('infos-pratiques') }}">Infos pratiques</a></li>
              <li {{ route ==  'produits-complementaires' ? 'class="active"' }}><a href="{{ path('produits-complementaires') }}">Produit complémentaire</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
        <div class="container-fluid">

          <div id="content">

            <div class="content-body inner-xs">

              <div class="rte lh130 fz16 h1fz24 h2fz24 h1mb20 h1ttn h1tac h2tac h2ff3 h1pic h2pic h1fwl h2fwl h2fz24 h2mb20 ullwfl">
				<br />
                <h1>NOS <span class="c-2">OFFRES</span></h1>

                <p>Covéa, en partenariat avec Leaseway, vous propose de simplifier vos démarches pour l'acquisition de votre parc de véhicules de
                  remplacement en location longue durée</p>

                <h2>PROGRAMME <span class="c-2">COVEA / LEASEWAY</span>  VEHICULE DE REMPLACEMENT</h2>

              </div>
            </div>

            <div id="triptych" class="inner-xs">
              <div class="row">
                <div class="col-sm-4">
                  <div class="block">
                    <h3 class="block-header"><span class="header-aside">1</span><div class="header-body"><strong>CONSULTEZ NOTRE SITE</strong> ET FAIRE SON CHOIX</div></h3>
                    <div class="block-body">Catalogue complet des offres avec une large gamme de véhicules couvrant l'ensemble des catégories nécessaires à votre activité aussi bien en VP qu'en VU.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="block">
                    <h3 class="block-header"><span class="header-aside">2</span><div class="header-body">
                      AVEC NOTRE <strong>SYSTEME DE COMMANDE SIMPLIFIE</strong>
                    </div></h3>
                    <div class="block-body">Editez le bon de réservation de votre
                      choix de véhicule avec la durée
                      kilométrage souhaitée.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="block">
                    <h3 class="block-header"><span class="header-aside">3</span><div class="header-body">
                      ENVOYEZ VOTRE <strong>BON DE RESERVATION</strong>
                    </div></h3>
                    <div class="block-body">Accompagnez-le des pièces demandées
                      à l'adresse suivante :<br>
                      <strong>Leaseway service courtoisie<br>
                        11-15 QUAI DE DION BOUTON 92800</strong></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-body inner-xs">
              <div class="rte lh130 fz15 h1fz18 h1mb20 h1ttn h1red h1fwn h2fz15 h2mb20 ullwfl">
                <div class="board">
                  <p>A réception nous vous communiquerons votre <strong class="c-2">CONTRAT DE LOCATION DÉFINITIF</strong> ainsi que le <strong class="c-2">DÉLAI DE LIVRAISON</strong> dans vos locaux ou chez le concessionnaire de la marque le plus proche.</p>

                  <p><strong class="c-2">PROFITEZ DE NOS STOCKS DISPONIBLES, VOUS AUREZ AUTOMATIQUEMENT UNE RÉPONSE PLUS RAPIDE À VOTRE DEMANDE.</strong>
                    Vous serez informé de l'<strong>arrivée de votre véhicule</strong> ainsi que la <strong>livraison</strong> dans vos locaux.
                    Leaseway reste à votre écoute pendant tout la durée de votre location afin de faire évoluer les termes de votre contrat si nécessaire
                    (kilométrage, durée...).</p>

                  <p><strong class="c-2">Pour information :</strong> <strong>3 MOIS</strong> avant la fin de votre contrat, leaseway vous contactera pour renouveler votre contrat de location et changer de véhicule.</p>
                </div>
              </div>

              <div class="text-center">
                <a class="readmore readmore-lw" href="{{ path('assurance-financiere') }}">CONSULTEZ NOS <span>PRODUITS COMPLEMENTAIRES</span></a>
              </div>

            </div>



          </div><!-- #content -->

        </div><!-- .container-fluid -->
      </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
