{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">CONTACT</h1>
        <div class="section-body">
            {% image output="images/cover-img3.jpg"
            '@AppBundle/Resources/public/images/cover-img3.jpg'
            %}
          <img src="{{ asset_url }}" alt="Leaseway" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="block block-contact tag-ta_c">
                  <div class="block-header"><span>COMMERCIAL</span></div>
                  <div class="block-body">01 47 76 74 07</div>
                </div><!-- .block-contact -->
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="block block-contact tag-ta_c">
                  <div class="block-header"><span>COMMANDE</span></div>
                  <div class="block-body">01 47 76 75 27</div>
                </div><!-- .block-contact -->
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="block block-contact tag-ta_c">
                  <div class="block-header"><span>LIVRAISON</span></div>
                  <div class="block-body">01 47 75 76 84</div>
                </div><!-- .block-contact -->
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="block block-contact tag-ta_c">
                  <div class="block-header"><span>RESTITUTION</span></div>
                  <div class="block-body">01 47 75 76 61</div>
                </div><!-- .block-contact -->
              </div>
            </div>
          </div><!-- .wrapper -->
        </div>
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
              {% for label, flashes in app.session.flashbag.all %}
                <div class="callout callout-{{ label }} alert alert-{{ label }} alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {% for flash in flashes %}
                      <p>{{ flash|trans({}, 'messages') }}</p>
                    {% endfor %}
                </div>
              {% endfor %}
            <h2 class="text-center tag-fz_16 tag-pt_60">Afin de répondre à votre demande, merci de nous envoyer le formulaire ci-joint-complété.</h2>
            <form action="" class="form-regular">
              <input type="hidden" name="hsite_name" class="hsite_name" value="{{ site_name }}" />
              <input type="hidden" name="hsite_id" class="hsite_id" value="{{ id_site }}" />
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="contact_financement">Type de financement</label>
                  </div>
                  <div class="col-sm-5">
                    <select name="" id="contact_financement" class="form-control">
                      <option value="1">LLD</option>
                      <option value="2">Crédit bail</option>
                      <option value="3">Crédit</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Nom et prénom</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" id="contact_name" class="form-control">
                    <div class="alert alert-danger contact_name_error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Nom obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Adresse e-mail</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" id="contact_email" class="form-control">
                    <div class="alert alert-danger contact_email_error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Email non valide
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Téléphone</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" id="contact_telephone" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Modèle souhaité</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" id="contact_model" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Kilométrage annuel souhaité</label>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" id="km_annuel" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group tag-mb_35">
                <div class="row">
                  <div class="col-sm-3 col-sm-offset-2" for="">
                    <label for="">Message</label>
                  </div>
                  <div class="col-sm-5">
                    <textarea id="contact_message" class="form-control" rows="7"></textarea>
                    <div class="alert alert-danger contact_message_error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Message obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-5 col-sm-offset-5">
                    <button type="button"  class="btn btn-block btn-red valider_contact" urlto="http://catalogue-loc-courtoisie.fr/dev/fo-loc-courtoisie/web/app_dev.php/save-contact">ENVOYER</button>
                  </div>
                </div>
              </div>
            </form>
          </div><!-- .inner -->
        </div>

      </div>
    </section><!-- #tesseract -->

    <section id="cta" class="container-fluid">
      <div class="inner tag-maw_1070 text-center">
        <a class="wrapper tag-ff_3" href="{{ path('assurance-financiere') }}">
          <i class="icon icon-car"></i>
          CONSULTEZ NOS PRODUITS COMPLÉMENTAIRES
          <i class="icon icon-arrow-right_rounded"></i>
        </a>
      </div>
    </section><!-- #cta -->

  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
