{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo_reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
                <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
                <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
                <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
                <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
                <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="searchEngine" class="container-fluid active">
	<div class="inner">
        <div class="">
          <form id="search" action="#" class="container-fluid search-form">

			  <div class="row">
				<div class="col-lg-5 col-sm-6">

				  <div class="block block-start matchHeight">
					<div class="block-body">
					  <a href="#" class="btn"><i class="icon icon-gears-3"></i><span>Recherche avancée</span><i class="icon icon-gt">&gt;</i></a>
					</div>
					<div class="block-footer">
					  <span class="title">VOTRE RECHERCHE :</span>
					  <strong class="keywords"></strong>
					</div>
				  </div><!-- .block-left -->

				</div>



				<div class="block block-start block-first pull-right">
				  <div class="block-body">
					<a href="#" class="btn active"><i class="icon icon-gears-3"></i><span>Recherche avancée</span><i class="icon icon-gt">&gt;</i></a>
				  </div>
				</div><!-- .block-left -->

				<div class="col-lg-3 col-sm-6">
				  <div class="block block-middle matchHeight trs-n" style="display:block">
					<div class="form-group block-body">
					  <div class="dropdown">
						<span id="searchbar-category" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-car-bars"></span><span class="ui-selectmenu-text">Categorie</span></span>
						<div class="dropdown-menu collapse">
						  <ul class="list list-unstyled">
							{% if modules.categories is not empty %}
								{% for tcat in modules.categories  %}
								<li><label id="searchbar_cat_{{ loop.index }}" class="searchbar_cat ui-checkboxradio-label ui-corner-all ui-button ui-widget"><span class="ui-checkboxradio-icon icon icon-check ui-icon ui-icon-background ui-icon-check ui-state-checked"></span><span class="ui-checkboxradio-icon-space"> </span><input class="checkbox ui-checkboxradio ui-helper-hidden-accessible" for="searchbar_cat_{{ loop.index }}" type="checkbox" attr-label="{{ tcat.label }}" value="{{ tcat.id }}">{{ tcat.label }}</label></li>
								{% endfor %}
							{% endif %}
							<li class="separator"></li>
							{% if modules.sous_categories is not empty %}
								{% for tscat in modules.sous_categories  %}
								<li><label class="searchbar_type" id="searchbar_cat_{{ loop.index }}"><input class="checkbox" type="checkbox" for="searchbar_cat_{{ loop.index }}" attr-label="{{ tscat.label }}" value="{{ tscat.id }}">{{ tscat.label }}</label></li>
								{% endfor %}
							{% endif %} 
						  </ul>
						</div>
					  </div>
					</div>
					<div class="form-group block-footer block-brand">
					  <div class="dropdown">
						<span id="searchbar-brand" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-brand"></span><span class="ui-selectmenu-text">Marque</span></span>
						<div class="dropdown-menu collapse">
						  <ul class="list list-unstyled">
							{% if modules.marques is not empty %}
							{% for tmarque in modules.marques  %}
								<li>
								<label id="searchbar_fuel_{{ loop.index }}">
								  <input class="checkbox" value="{{ tmarque.id }}" type="checkbox" attr-label="{{ tmarque.name }}" for="searchbar_fuel_{{ loop.index }}">{{ tmarque.name }}</label></li>
							  <li>
							  {% endfor %}
							  {% endif %}
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-sm-6">

				  <div class="block block-fuel matchHeight trs-n  block-carburant" style="display:block">
					<div class="block-header"><i class="icon icon-fuel-station"></i><span>Carburant</span></div>
					<div class="block-body">
					  <ul class="list-unstyled list-inline part-checkbox">
						<li><label id="searchbar_fuel_diesel"><input value="diesel" class="checkbox" type="checkbox" for="searchbar_fuel_diesel" attr-label="DIESEL">DIESEL</label></li>
                      <li><label id="searchbar_fuel_essence"><input value="essence" class="checkbox" type="checkbox" for="searchbar_fuel_essence" attr-label="ESSENCE">ESSENCE</label></li>
                      <li><label id="searchbar_fuel_electrique"><input value="electrique" class="checkbox" type="checkbox" for="searchbar_fuel_electrique" attr-label="ELECTRIQUE">ELECTRIQUE</label></li>
					  </ul>
					</div>
				  </div><!-- .block -->

				</div>
				<div class="col-lg-2 col-sm-6">
				  <div class="block block-end matchHeight trs-n  block-portes" style="display:block">
					<div class="block-header"><i class="icon icon-sandglass"></i><span>portes</span></div>
					<div class="block-body">
					  <ul class="list-unstyled list-inline part-checkbox no-margin">
						<li><label id="searchbar_cat_3"><input class="checkbox" type="checkbox" for="searchbar_cat_3" value="2">3</label></li>
                      <li><label id="searchbar_cat_4"><input class="checkbox" type="checkbox" for="searchbar_cat_4" value="4">4</label></li>
                      <li><label id="searchbar_cat_5"><input class="checkbox" type="checkbox" for="searchbar_cat_5" value="5">5</label></li>
					  </ul>
					</div>
					<div class="block-footer">
					  <div class="part part-submit">
						<a href="#" class="submit btn" urlto="{{ path('search_result') }}">VALIDER</a>
					  </div>
					</div>
				  </div><!-- .block -->
				</div>
			  </div>

			</form><!-- #search -->
        </div><!-- .result-body -->
		<br />
			{% for label, flashes in app.session.flashbag.all %}
			<div class="callout callout-{{ label }} alert alert-{{ label }} alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{% for flash in flashes %}
					<p>{{ flash|trans({}, 'messages') }}</p>
				{% endfor %}
			</div>
			{% endfor %}
		<br />
        <div class="result-footer">
		{% set product = produits.0 %}	
		<section id="current" class="container-fluid">		
          <div class="inner">
            <div class="row">
              <div class="col-md-5">
                <a class="block block-car" href="#">
                  <div class="block-header">
                    <div class="discount">
                      <div class="price-container">
						<input type="hidden" class="prix" value="{{ product.prix_modif }}" />
					    <input type="hidden" class="id_extension" value="{{ product.id_extension }}" />
                        <span class="label">À partir de</span>
                        <strong class="price"></strong>
                        <div class="iteration">HT/MOIS*</div>
                      </div>
                    </div>
                    <div class="text">
					  {% set inittxt = options.0 %}
                      <h2 class="title">{{ product.nom }}<br>{{ inittxt.finition }}</h2>
					  <input type="hidden" class="version" value="{{ product.description_courte }}" />
                      <div class="summary">
                        {{ inittxt.equipements|upper|replace({',': ', '}) }}
                      </div>
                    </div>
                  </div>
                  <div class="block-body">
                    <div class="img-container img-middle">
                      <img src="http://catalogue-loc-courtoisie.fr/bodev/bov2/web/uploads/produits/interm/{{ product.image }}" alt="{{ product.nom }}">
                    </div>
					<div class="notice-choice"><center><strong><i>Photo non contractuelle</i></strong></center></div>
                  </div>
                </a><!-- .block-car -->
              </div>
              <div class="col-md-7">

                <form class="block block-criteria" action="#">
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="part-left">
                        <h3 class="title">Critères de sélection</h3>
                        <div class="content">
                          <div class="table">
                            <div class="tr">
                              <div class="td"><span class="lbl">Contrat :</span></div>
                              <div class="td">
                                <div class="form-group block-footer">
                                  <div class="dropdown">
                                    <span class="ui-selectmenu-button form-control"><span class="ui-selectmenu-text txt-contrat"></span></span>
                                    <div class="dropdown-menu collapse">
                                      <ul class="list list-unstyled">
									  {% for option in options %}
									    <li>
											<label for="current_contract{{ option.id }}">
												<input class="radio tmp_contrat" type="radio" id="current_contract{{ option.id }}" name="tmp_contrat" id-km="{{ option.km }}" id-duree="{{ option.duree }}" id-contrat="{{ option.id_contrat }}" prix="{{ option.prix }}" value="{{ option.id }}" txt="{{ option.duree }} - {{ option.km }} - {{ option.contrat }}" />
												<span class="red">{{ option.duree }}</span> - {{ option.km }} - <span class="red">{{ option.contrat }}</span>
											</label>
										</li>
									  {% endfor%}
                                      </ul>
									  <input type="hidden" name="km" class="km" />
									  <input type="hidden" name="duree" class="duree" />
									  <input type="hidden" name="contrat" class="contrat" />
                                      <input type="hidden" name="hsite_name" class="hsite_name" value="{{ site_name }}" />
                                      <input type="hidden" name="hsite_id" class="hsite_id" value="{{ id_site }}" />
                                    </div>
                                  </div><!-- .dropdown -->
                                </div><!-- .form-group -->
                              </div>
                            </div>
                            <div class="tr">
                              <div class="td"><span class="lbl">Couleur :</span></div>
                              <div class="td">
                                <div class="form-group block-footer">
                                  <input id="subscribe_color" class="form-control couleur" type="text">
                                </div><!-- .form-group -->
                              </div>
                            </div>
                            <div class="tr">
                              <div class="td"><span class="lbl">Quantité :</span></div>
                              <div class="td">
                                <div class="form-group block-footer">
                                  <input id="subscribe_quantity" class="form-control quantite" type="text" value="1">
                                </div><!-- .form-group -->
                              </div>
                            </div>
                          </div>
                        </div><!-- .content -->
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="part-right">
                        <h3 class="title">OPTIONS CONTRAT DE LOCATION :</h3>
                        <div class="content">
						{% set px_pf = 5 %}
						{% if product.id_categorie in [13,14] %}
							{% set px_pf = 7 %}
						{% endif %}
                          <label for="subscribe_option"><input class="checkbox subscribe_option" type="checkbox" id="subscribe_option" value="1">Assurance perte financière {{ px_pf }} € / mois </label>
                          <p>Délai de livraison : nous consulter</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form><!-- .block-criteria -->

                <div id="customer" action="">
                  <div class="customer-header">
                    <h2>Informations client</h2>
                  </div><!-- .customer-header -->
                  <div class="customer-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <form class="block block-connexion text-center match-1" action="#" style="height: 147px;">
                          <h3 class="block-header">Je suis déjà client</h3>
                          <div class="block-body">Merci de renseigner votre SIREN<br>ou votre ancien code client</div>
                          <div class="block-footer">
                            <p class="info">* Numéro communiqué lors de votre 1ère commande</p>
                            <div class="form-group">
								<input type="text" class="form-control input-sirene">
								<button type="button" class="get_client">ok</button>
                            </div>
                          </div>
                        </form><!-- .block-connexion -->
                      </div>
                      <div class="col-sm-6">
                        <div class="block block-inscription text-center match-1" style="height: 147px;">
                          <h3 class="block-header">Je crée mon compte client(e)</h3>
                          <div class="block-body">Créer votre compte client<br>dès maintenant</div>
                          <div class="block-footer">
                            <a href="#" class="link btn btn-xs creer_compte" title="Je crée mon compte client(e)">Création de compte client</a>
                          </div>
                        </div><!-- .block-inscription -->
                      </div>
                    </div>
			
			<br />
			<br />
			
			<div class="customer-body cmd-registration form" id="cmd-registration">
              <fieldset>
                <legend>Information du locataire</legend>
                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Société *</p>
					<input type="hidden" id="hnew" class="hnew" name="hnew" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-societe" />
                    <div class="alert alert-danger txt-societe-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Société obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Adresse *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-adresse" />
                    <div class="alert alert-danger txt-adresse-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Adresse obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Code Postal *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-code-postal" />
                    <div class="alert alert-danger txt-code-postal-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Code postal obligatoire et doit contenir 5 caractères
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Ville *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-ville" />
                    <div class="alert alert-danger txt-ville-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Ville obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">N° SIREN *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-siren" />
                    <div class="alert alert-danger txt-siren-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Siren obligatoire
                    </div>
                  </div>
                </div>

				<div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">N° SIRET</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-rcs" />
                    <div class="alert alert-danger txt-rcs-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      N° SIRET obligatoire car N° SIREN déjà existant
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset>
                <legend>Coordonnées du contact</legend>
                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Civilité *</p>
                  </div>
                  <div class="col-sm-6">
                    <select class="civilite">
                      <option value="1">Madame</option>
                      <option value="2">Mademoiselle</option>
                      <option value="3">Monsieur</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Nom *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-nom" />
                    <div class="alert alert-danger txt-nom-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Nom obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Téléphone *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-telephone" />
                    <div class="alert alert-danger txt-telephone-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Téléphone obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Fax</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-fax" />
                    <div class="alert alert-danger txt-fax-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Fax obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Email *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-email" />
                    <div class="alert alert-danger txt-email-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Email invalide
                    </div>
                  </div>
                </div>


              </fieldset>

              <fieldset>
                <legend>Adresse de livraison</legend>
                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Adresse *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-adresse-livraison" />
                    <div class="alert alert-danger txt-adresse-livraison-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Adresse obligatoire
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Code Postal *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-cp-livraison" />
                    <div class="alert alert-danger txt-cp-livraison-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Code postal obligatoire et doit contenir 5 caractères
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-md-offset-2 col-sm-6">
                    <p class="info">Ville *</p>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control txt-ville-livraison" />
                    <div class="alert alert-danger txt-ville-livraison-error" role="alert" style="display: none;">
                      <span class="sr-only">Error:</span>
                      Ville obligatoire
                    </div>
                  </div>
                </div>

              </fieldset>
			  <br />
              <div class="col-md-2 col-md-offset-9">
                <button type="button" urlto="{{ url('save-command') }}" class="btn btn-danger valider_commande">Valider cette offre</button>
              </div>

            </div>
                  </div><!-- .customer-body -->
                </div>

              </div>
            </div><!-- .row -->
          </div>
        </section><!-- #current -->
          
        </div><!-- .result-footer -->

      </div><!-- #result -->

    </div><!-- .container-fluid -->
	</section><!-- #suggestions -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
  <footer id="footer" style="margin-top: -170px;">

    <div class="container-fluid inner">

      <div class="row">
        <div class="col-md-3 text-sm-center">

          <a id="footer-logo" href="#" title="{{ site_name }}">
              {{ site_name }}
          </a><!-- #footer-logo -->

        </div>

        <div class="col-md-5 col-sm-6">

          <div id="footer-contact" class="block">
            <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
            <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
            <div class="block-footer clearfix">
              <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
              <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
              <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
              <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
            </div>
          </div><!-- #footer-contact -->

        </div>
        <div class="col-md-4 col-sm-6">

          <div id="legal">
            <a class="legal-header" href="#" title="laseway">
                {% image output="images/legal-img1.png"
                '@AppBundle/Resources/public/images/legal-img1.png'
                %}
              <img src="{{ asset_url }}" alt="Leaseway" />
                {% endimage %}
            </a>
            <div class="legal-body">
              LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
              N° 491 210 175 - N°ORIAS 07035268
            </div>
          </div><!-- #legal -->

        </div>

      </div>

    </div>

  </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	var initAll = function(){
	debugger;
		var prix = 0;	
		prix = $('input[name="tmp_contrat"]:checked').attr('prix');
		
		if ( prix == undefined ) {
			var id_km 		= $('input[name="tmp_contrat"]').eq(0).attr('id-km');
			var id_duree	= $('input[name="tmp_contrat"]').eq(0).attr('id-duree');
			var id_contrat	= $('input[name="tmp_contrat"]').eq(0).attr('id-contrat');
			prix 			= $('input[name="tmp_contrat"]').eq(0).attr('prix');
			
			$('.price').html(parseInt(prix)+'€');
			$('.prix').val(parseInt(prix));
			
			$('.km').val(id_km);
			$('.duree').val(id_duree);
			$('.contrat').val(id_contrat);
			
			$('.txt-contrat').html($('input[name="tmp_contrat"]').eq(0).attr('txt'));
			
		}else{
			var id_km 		= $('input[name="tmp_contrat"]:checked').attr('id-km');
			var id_duree	= $('input[name="tmp_contrat"]:checked').attr('id-duree');
			var id_contrat	= $('input[name="tmp_contrat"]:checked').attr('id-contrat');
			
			$('.price').html(parseInt(prix)+'€');
			$('.prix').val(parseInt(prix));
			
			$('.km').val(id_km);
			$('.duree').val(id_duree);
			$('.contrat').val(id_contrat);
			
			$('.txt-contrat').html($('input[name="tmp_contrat"]:checked').attr('txt'));
		}	
	}
	
	$('document').ready(function(){
		initAll();
	
		$('.tmp_contrat').click(function(){
			initAll();
		});
	});
</script>
{% endblock %}
