{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

           <div class="block block-button dropdown">
                  <button type="button" class="navbar-toggle collapsed block-header" data-toggle="dropdown" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <span class="block-body">
                    Menu
                  </span>
                  <ul class="block-footer dropdown-menu">
                    <li><a href="{{ path('votre-commande') }}" title="Votre commande">Votre commande</a></li>
                    <li><a href="{{ path('obligations') }}" title="Vos obligations">Vos obligations</a></li>
                    <li><a href="{{ path('restitution') }}" title="La restitution">La restitution</a></li>
                    <li><a href="{{ path('assurance-financiere') }}" title="Assurance financière">Assurance perte financière</a></li>
                    <li><a href="{{ path('mentions-legales') }}" title="Mentions legales">Mentions legales</a></li>
<li><a href="{{ path('contact') }}" title="Contact">Contact</a></li>
                  </ul>
                </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
              {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid inner">
                <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                  <li class="active"><a href="#">Home</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                      <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Page 1-1</a></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1-2</a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Page 1-1</a></li>
                          <li><a href="#">Page 1-2</a></li>
                          <li><a href="#">Page 1-3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Page 1-3</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
                </ul>
              </div>
            </nav>
          </div><!-- #navbar -->
    </div><!-- .section-header -->

    <div class="section-body">

      <div class="block block-smartslider">
        <div id="banner" class="block-header">
          <div class="container-fluid inner">

            <div class="row">
              <div class="col-sm-12">
                <div id="slider" class="clearfix trs-n" style="display:none">
                    {% if produits_header is not empty %}
                        {% for ph in produits_header %}
                          <a class="part part-car trs" href="{{ path("product-detail-intermediaire", {'id_product': ph.id_produit}) }}">
                            <div class="part-header align-left">
                              <div class="price-container">
                                <span class="label">À partir de</span>
                                <strong class="price">{{ ph.prix_modif|number_format(0,".","") }}€</strong>
                                <div class="iteration">HT/MOIS*</div>
                              </div>
                            </div><!-- .part-header -->
                            <div class="part-body img-container img-middle">
                                {% if ph.image != '' %}
                                  <img src="http://catalogue-loc-courtoisie.fr/bodev/bov2/web/uploads/produits/interm/{{ ph.image }}" alt="Leaseway" />
                                {% endif %}
                            </div><!-- .part-header -->
                          </a><!-- .part-car -->
                        {% endfor %}
                    {% endif %}
                </div><!-- #slider -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-6 notice text-right">
                <p>* Offre sur 24 mois/ 20 000km ** Offre sur 36 mois / 30 000km</p>
              </div>
            </div>
            <div class="row">
                  <div class="col-sm-12">
                    <form id="searchbar" class="part inner-md search-form" action="#">
                      <div class="part-header text-center"><strong>RECHERCHER</strong> UN Véhicule</div>
                      <div class="part-footer remade clearfix">
                        <div class="part-body">
                          <a href="{{ path('search_result', {'params':'1=1'}) }}" title="Recherche avancée">Recherche avancée</a>
                        </div>
                        <div class="form-group-container clearfix">

                          <div class="form-group">
                            <div class="dropdown">
                              <span id="searchbar-category" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-car-bars"></span><span class="ui-selectmenu-text">Categorie</span></span>
                              <div class="dropdown-menu collapse">
                                <ul class="list list-unstyled">
									{% if modules.categories is not empty %}
										{% for tcat in modules.categories  %}
										  <li><label id="searchbar_cat_{{ loop.index }}" class="searchbar_cat" ><input class="checkbox" type="checkbox" for="searchbar_cat_{{ loop.index }}" value="{{ tcat.id }}">{{ tcat.label }}</label></li>
										{% endfor %}
									{% endif %}
                                  <li class="separator"></li>
                                  {% if modules.sous_categories is not empty %}
                                    {% for tscat in modules.sous_categories  %}
                                      <li><label class="searchbar_type" id="searchbar_scat_{{ loop.index }}"><input class="checkbox" type="checkbox" for="searchbar_scat_{{ loop.index }}" value="{{ tscat.id }}">{{ tscat.label }}</label></li>
                                    {% endfor %}
                                {% endif %}
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="form-group  block-carburant">
                            <div class="dropdown">
                              <span id="searchbar-fuel" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-fuel-station"></span><span class="ui-selectmenu-text">Carburant</span></span>
                              <div class="dropdown-menu collapse">
                                <ul class="list list-unstyled">
								  <li><label id="searchbar_fuel_diesel"><input value="diesel" class="checkbox" type="checkbox" for="searchbar_fuel_diesel">DIESEL</label></li>
								  <li><label id="searchbar_fuel_essence"><input value="essence" class="checkbox" type="checkbox" for="searchbar_fuel_essence">ESSENCE</label></li>
								  <li><label id="searchbar_fuel_electrique"><input value="electrique" class="checkbox" type="checkbox" for="searchbar_fuel_electrique">ELECTRIQUE</label></li>
								</ul>
                              </div>
                            </div>
                          </div>

                          <div class="form-group block-brand">
                            <div class="dropdown">
                              <span id="searchbar-brand" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-brand"></span><span class="ui-selectmenu-text">Marque</span></span>
                              <div class="dropdown-menu collapse">
                                <ul class="list list-unstyled">
                                {% if modules.marques is not empty %}
                                {% for tmarque in modules.marques  %}
								  <li>
									<label id="searchbar_fuel_{{ loop.index }}">
									  <input class="checkbox" value="{{ tmarque.id }}" type="checkbox" for="searchbar_fuel_{{ loop.index }}">{{ tmarque.name }}</label></li>
								  <li>
									  {% endfor %}
									  {% endif %}
								</ul>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <button urlto="{{ path('search_result') }}"  type="button" class="btn-find form-control">RECHERCHER</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
        </div><!-- #banner -->

      </div><!-- .block-smartslider -->

    </div><!-- .section-body -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <div class="container-fluid inner-md">
<section id="reinsurance">
        <h2 class="reinsurance-header">
          <strong>Votre partenaire</strong> véhicule de remplacement
        </h2><!-- .reinsurance-header -->

        <div class="reinsurance-body inner-sm">
          <div class="row">
            <div class="col-sm-4">

              <div class="block block-reinsurance tag-ff_3">
                <div class="block-header img-container img-middle match-1">
                    {% image output="images/reinsurance-img1.png"
                    '@AppBundle/Resources/public/images/reinsurance-img1.png'
                    %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </div>
                <strong class="block-body match-2"><span class="red">FINANCEMENT</span><br>GARANTI</strong>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="block block-reinsurance tag-ff_3">
                <div class="block-header img-container img-middle match-1">
                    {% image output="images/reinsurance-img2.png"
                    '@AppBundle/Resources/public/images/reinsurance-img2.png'
                    %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </div>
                <strong class="block-body match-2"><span class="red">OFFRES</span><br>TOUTES MARQUES<br>&amp; MODÈLES</strong>
              </div>

            </div>

            <div class="col-sm-4">

              <div class="block block-reinsurance tag-ff_3">
                <div class="block-header img-container img-middle match-1">
                    {% image output="images/reinsurance-img3.png"
                    '@AppBundle/Resources/public/images/reinsurance-img3.png'
                    %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </div>
                <strong class="block-body match-2"><span class="red">VR</span><br>
                  MOYENNE DURÉE<br>
                  ATTENTE DE LIVRAISON</strong>
              </div>

            </div>
          </div>
        </div><!-- .reinsurance-body -->

      </section><!-- #reinsurance -->
      <section id="featured">
        <h1 class="featured-header">
          <span>MEILLEURES VENTES</span>
        </h1>
      </section><!-- #featured -->
      <section id="suggestions" class="container-fluid">
        <div class="inner">
        <div class="section-body">
          <div class="row">
          {% if produits is not empty %}
          {% for product in produits %}
            <div class="col-md-3 col-sm-6">

              <a href="{{ path("product-detail-intermediaire", {'id_product': product.id_produit}) }}" class="block block-suggestion" title="{{ product.nom }}">
                <strong class="block-header match-1">{{ product.nom }}</strong>
                <div class="block-body">
                  <figure class="img-container img-middle">
                    <img src="http://catalogue-loc-courtoisie.fr/bodev/bov2/web/uploads/produits/interm/{{ product.image }}" alt="{{ product.nom }}">
                  </figure>
                  <div class="price">
                    <span class="number">{{ product.prix_modif|number_format(0,".","") }}€</span>
                    <span class="text">
							  <small>A partir de</small>
							  <strong>HT/MOIS</strong>
							</span>
                  </div>
                </div>
                <div class="block-footer">
                  <span class="btn">Découvrir</span>
                </div>
              </a>

            </div>
              
          {% endfor %}
          {% endif %}

          </div>
        </div>
        </div>
      </section><!-- #featured -->

      

    </div><!-- .container-fluid -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
  <footer id="footer">

    <div class="container-fluid inner">

      <div class="row">
        <div class="col-md-3 text-sm-center">

          <a id="footer-logo" href="#" title="">
            {{ site_name }}
          </a><!-- #footer-logo -->

        </div>

        <div class="col-md-5 col-sm-6">

          <div id="footer-contact" class="block">
            <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
            <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
            <div class="block-footer clearfix">
              <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
              <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
              <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
              <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
            </div>
          </div><!-- #footer-contact -->

        </div>
        <div class="col-md-4 col-sm-6">

          <div id="legal">
            <a class="legal-header" href="#" title="laseway">
                {% image output="images/logo_footer.png"
                '@AppBundle/Resources/public/images/logo_footer.png'
                %}
              <img src="{{ asset_url }}" alt="Leaseway" />
                {% endimage %}
            </a>
            <div class="legal-body">
              LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
              N° 491 210 175 - N°ORIAS 07035268
            </div>
          </div><!-- #legal -->

        </div>

      </div>

    </div>

  </footer><!-- #footer -->
{% endblock %}
