{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'comment-ca-marche' ? 'class="active"' }}><a href="{{ path('comment-ca-marche') }}">Comment ça marche</a></li>
              <li {{ route ==  'infos-pratiques' ? 'class="active"' }}><a href="{{ path('infos-pratiques') }}">Infos pratiques</a></li>
              <li {{ route ==  'produits-complementaires' ? 'class="active"' }}><a href="{{ path('produits-complementaires') }}">Produit complémentaire</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %} 
	  <main id="main">
        <div class="container-fluid">

          <div id="content">

            <div id="content-tabs" class="content-btn inner-xs">
              <div class="row">
                <div class="col col-fisc">
				<a class="img-container active" href="#" title="La fiscalité">
				  {% image output="images/btn-fiscalite.png"
                    '@AppBundle/Resources/public/images/btn-fiscalite.png'
                    %}
                  <img src="{{ asset_url }}" alt="La fiscalité" />
                    {% endimage %}
					
					{% image output="images/btn-fiscalite_active.png"
                    '@AppBundle/Resources/public/images/btn-fiscalite_active.png'
                    %}
                  <img src="{{ asset_url }}" alt="La fiscalité" />
                    {% endimage %}
				</a>
                </div>
                <div class="col col-obl">
				<a class="img-container" href="#" title="Vos obligations">
				  {% image output="images/btn-obligations.png"
                    '@AppBundle/Resources/public/images/btn-obligations.png'
                    %}
                  <img src="{{ asset_url }}" alt="Vos obligations" />
                    {% endimage %}
					
					{% image output="images/btn-obligations_active.png"
                    '@AppBundle/Resources/public/images/btn-obligations_active.png'
                    %}
                  <img src="{{ asset_url }}" alt="Vos obligations" />
                    {% endimage %}
				</a>
                </div>
                <div class="col col-rest">
				<a class="img-container" href="#" title="La restitution">
				  {% image output="images/btn-restitution.png"
                    '@AppBundle/Resources/public/images/btn-restitution.png'
                    %}
                  <img src="{{ asset_url }}" alt="La restitution" />
                    {% endimage %}
					
					{% image output="images/btn-restitution_active.png"
                    '@AppBundle/Resources/public/images/btn-restitution_active.png'
                    %}
                  <img src="{{ asset_url }}" alt="Vos obligations" />
                    {% endimage %}
				</a>
                </div>
              </div>
            </div><!-- .content-btn -->

            <div class="content-body inner-xs" style="display: block">
              <div class="rte lh130 fz15 h1fz18 h1mb20 h1ttn h1red h1fwn h2fz15 h2mb20 ullwfl">
                <h1>Afin de profiter des exonérations possibles sur cette activité qui est secondaire par rapport à votre métier<br>
                  <strong>il est impératif de respecter un certain formalisme.</strong></h1>
                <h2><span class="c-2">A - </span>Inscription sur votre objet social de l'activité de location courte durée en activité secondaire</h2>
                <p>La modification de l'objet social est décidée par les associés dans les conditions prévues pour la modification des statuts lesquels, diffèrent en fonction
                  du type de société. Cette modification affectant les statuts, une publicité sommaire du nouvel objet doit être effectuée dans un journal d'annonce légale
                  et déposée en annexe au RCS.</p>
                <h2><span class="c-2">B.- </span>Fiscalité sur cette activité</h2>
                <p>Préambule :</p>
                <p>Pour éviter tous risques d'interprétation de l'administration fiscale sur l'utilisation de votre parc de véhicules de remplacement et pour bénéficier du
                  régime d'imposition favorable associé à cette activité, vous devez respecter impérativement les principes suivants :</p>
                <p>Respecter le <span class="c-2">point A</span></p>
                <p>Répartir votre parc en <span class="c-2">3 catégories :</span></p>
                <ul>
                  <li>Le parc sur lequel vous pourrez prouver, sans exception, que les véhicules sont toujours facturés à des clients soit à travers la prise en charge via le taux horaire facturé, soit à travers un règlement direct du client,</li>
                  <li>Le parc des véhicules réservé à des prêts gratuits,</li>
                  <li>Les véhicules utilisés pour l'entreprise ou par les dirigeants.</li>
                </ul>
                <div class="board">
                  <h2><span class="c-2">1 -</span> Taxe sur la valeur Ajoutée - TVA</h2>
                  <p>Sur tous le parc donné en location contre facturation et uniquement celui-ci, vous pourrez récupérer la TVA sur les loyers facturés par le loueur.</p>
                  <h2><span class="c-2">2 -</span> Taxe sur les véhicules de société - TVS</h2>
                  <p>Sur tous les véhicules de votre parc exclusivement donnés en location ou en prêt gratuit à des clients et seulement dans ces cas, vous serez exonérés de la TVS</p>
                </div>
              </div>
            </div>
            <div class="content-body inner-xs">
              <div class="rte lh130 fz15 h1fz18 h1mb20 h1ttn h1red h1fwn h2fz15 h2mb20 ullwfl">
                <p>Vous avez l’obligation de respecter certaines règles sur cette activité même si elle n’est pas votre activité principale</p>
				<p class="c-2">a. Inscription sur votre objet social de l’activité de location courte durée en activité secondaire</p>
				<p>La modification de l’objet social est décidée par les associés dans les conditions prévues pour la modification des statuts lesquels, diffèrent en fonction du type de société.<br>Cette modification affectant les statuts, une publicité sommaire du nouvel objet doit être effectuée dans un journal d’annonce légale et déposée en annexe au RCS.</p>
				<p class="c-2">b. Le loueur de véhicule est tenu de faire connaître au consommateur les conditions de la location</strong></p><p>Pour les locations d’une durée indéterminée ou d’une durée inférieure ou égale à 6 mois, le loueur doit communiquer au consommateur.</p>
				<ul>
					<li>les prix unitaires toutes taxes comprises de tous les éléments de la prestation : au kilomètre, au temps</li>
					<li>les prix toutes taxes comprises des prestations annexes offertes par le loueur</li>
					<li>les prix toutes taxes comprises des prestations forfaitaires proposées</li>
					<li>les prix toutes taxes comprises des options d’assurance proposées et, pour l’ensemble des garanties,leurs exclusions, le montant des franchises et le coût de leur rachat</li>
					<li>les frais dont le locataire doit, le cas échéant, assurer directement le débours</li>
					<li>les conditions applicables en cas de restitution du véhicule au-delà du délai de retour prévu</li>
					<li>le montant du dépôt de garantie, les conditions de sa restitution, les conditions de dispense du versement du dépôt</li>
					<li>les avances sur location exigées</li>
					<li>les conditions d’âge ou d’ancienneté du permis de conduire</li>
					<li>les obligations, outre celles résultant des garanties légales, auxquelles s’engagent le loueur en matière d’entretien, réparation, assistance et remplacement du véhicule en cas d’incident ou d’accident, ainsi que les éventuelles limitations de sa responsabilité contractuelle</li>
					<li>le cas échéant, toute autre condition de délivrance de la prestation. » (Article 2 arrêté).</li>
				</ul>
				<p>Pour permettre la communication de cette information au locataire, le loueur doit tenir un document mis librement à sa disposition dans les locaux de réception de la clientèle. Un affichage doit être également prévu à l’endroit où se tient habituellement la clientèle.</p>
				<p class="c-2">c. Le loueur de véhicules doit souscrire une assurance responsabilité civile :</p><p>Le loueur de véhicules courte durée doit souscrire une assurance responsabilité civile obligatoire (Article L.211-1 du Code des assurances).</p>
				<p>Le carrossier doit impérativement confirmer avec son assureur la couverture de son parc de véhicules qu'il sous loue soit en tant que véhicule de remplacement, soit en tant que location courte durée.</p>
				<p><strong>d. Pendant l’exécution du contrat :</strong></p>
				<ul>
					<li>Le loueur de véhicules a une obligation de délivrance :</li>
				</ul>
				<p>Le loueur de véhicules doit mettre un véhicule en bon état de fonctionnement à la disposition du locataire.</p>
				<ul>
					<li>Le loueur de véhicules a une obligation d’entretien :</li>
				</ul>
				<p>Le loueur est tenu de réaliser les réparations autres que locatives.</p>
				<ul>
					<li>Le loueur de véhicules a une obligation de garantie :</li>
				</ul>
				<p>Le loueur de véhicules doit garantie au preneur « pour tous les vices ou défauts de la chose louée qui en empêchent l’usage », sauf disposition conventionnelle contraire (Article 1721 du Code civil).</p>
				</div>
			</div>
            <div class="content-body inner-xs">
              <div class="rte lh130 fz15 h1fz18 h1mb20 h1ttn h1red h1fwn h2fz15 h2mb20 ullwfl">
                <p class="c-2">ETAPE 1</p>
				<p>Envoi d’un courrier <span class="color">6 mois avant la fin de votre contrat</span> reprenant&nbsp;:</p>
				<p class="small half">a.  Le véhicule</p>
				<p class="small half">d.  Date de fin de location</p>				
				<p class="small half">b.  L’immatriculation</p>
				<p class="small half">e. Le coût du kilométrage supplémentaire</p>	
				<p class="small half">c.  La durée et le kilométrage du contrat de location</p>
				<p class="small half">f. Le point de restitution</p>

				<p class="c-2">ETAPE 2</p>
				<p>Vérifier si votre <span class="color">kilométrage actuel est en corrélation avec votre kilométrage contrat</span></p>

				<p class="c-2">ETAPE 3</p>
				<p>Cadrer avec nos équipes les commandes des véhicules venant renouveler les véhicules à <span class="color">restituer</span> afin qu’ils arrivent au moins 15 jours avant la fin de leurs contrats</p>

				<p class="c-2">ETAPE 4</p>
				<p>à l’arrivée des véhicules neufs, faire une <span class="color">remise en état</span> des anciens véhicules en vérifiant&nbsp;:</p>
				<p class="small half">a.  La carrosserie</p>
				<p class="small half">d.  L’état intérieur</p>	
				<p class="small half">b.  Les optiques</p>
				<p class="small half">e.  La révision prévue au carnet constructeur</p>		
				<p class="small half">c.  Le Pare brise</p>
				<p class="small half">f.  Les pneumatiques</p>	
				
				<p class="c-2">ETAPE 5</p>
				<p">Faire toutes les réparations avant de prendre RDV pour effectuer la restitution</p>

				<p class="c-2">ETAPE 6</p>
				<p>Selon nos informations prennez <span class="color">rdv</span> soit&nbsp;:</p>
				<p class="small full">a.  Avec votre concessionnaire local pour lui ramener les véhicules</p>
				<p class="small full">b.  Avec un expert désigné par le loueur pour faire une expertise sur place</p>

				<p class="c-2">ETAPE 7</p>
				<p>Signer dans les 2 cas un <span class="color">PV de restitution</span> reprenant l’état du véhicule dont vous conservez un double</p>									

				<p class="c-2">ETAPE 8</p>
				<p>Dès que vous avez fait l’expertise, vous ne devez plus utiliser les véhicules.</p>

				<p class="c-2">ETAPE 9</p>
				<p>Si restitution chez vous du véhicule compter ensuite entre 3 et 5 semaines avant <span class="color">enlèvement des véhicules</span></p>										

				<p class="c-2">ETAPE 10</p>
				<p>Renvoyer parallèlement au loueur des véhicules&nbsp;:</p>
				<p class="small half">a.  Copie de votre PV de restitution</p>
				<p class="small half">c.  Double de clés</p>	
				<p class="small half">b.  Carte grise originale</p>
				<p class="small half">d.  Carte code</p>
				
				<p class="c-2">ETAPE 11</p>	
				<p>Vous recevrez sous 15 jours, votre <span class="color">facturation de fin de contrat</span>, si cela s’avère nécessaire, reprenant les kilomètres supplémentaires parcourus et les frais de remis en état</p>
              </div>
            </div>

          </div><!-- #content -->

        </div><!-- .container-fluid -->
      </main><!-- #main -->
	  
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
	  <script>
	  </script>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
