{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">LA RESTITUTION</h1>
        <div class="section-body">
            {% image output="images/cover-img4.jpg"
            '@AppBundle/Resources/public/images/cover-img4.jpg'
            %}
          <img src="{{ asset_url }}" alt="Covea" class="" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper tag-ta_c"><span>À tout moment de la restitution de votre véhicle, tenez informé le service restitution Leaseway<br></span>de vos démarches afin d’assurer un bon suivi de votre dossier.</div>
        </div><!-- .wrapper -->
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
            <div class="row tag-pt_15">

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/restitution-img_step1.png"
                            '@AppBundle/Resources/public/images/restitution-img_step1.png'
                            %}
                          <img src="{{ asset_url }}" alt="Covea" class="" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">1.</span>  lancement <br class="visible-lg">de la procédure <br class="visible-lg">
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    Deux mois avant l’échéance de votre contrat, Leaseway vous envoi un courrier vous informant de la fin de celui-ci.<br>
                    <strong>C’est le moment de penser au renouvellement de vos véhicules !</strong><br>
                    Un mois avant la date de fin de votre contrat vous recevez par mail la procédure de restitution de votre véhicule.<br>
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/restitution-img_step2.png"
                            '@AppBundle/Resources/public/images/restitution-img_step2.png'
                            %}
                          <img src="{{ asset_url }}" alt="Covea" class="" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">2.</span>
                          REMISE EN ÉTAT<br class="visible-lg">
                          DU VÉHICULE
                          <hr class="tag-maw_76">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    La restitution du véhicule doit être simple. <strong>Faites une remise en état du véhicule</strong> selon le cahier des charges du loueur pour éviter la facturation :<br>
                    <span class="red">1.</span> Pensez à faire l’entretien du véhicule (Vidange, pneumatique, …)<br>
                    <span class="red">2.</span> Faites toutes les réparations (carrosserie…)<br>
                    <span class="red">3.</span> Pensez à enlever les stickages.<br>
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/restitution-img_step3.png"
                            '@AppBundle/Resources/public/images/restitution-img_step3.png'
                            %}
                          <img src="{{ asset_url }}" alt="Covea" class="" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">3.</span>
                          PROCÉDURES <br class="visible-lg">
                          LOUEURS
                          <hr class="tag-maw_116">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <strong>Respectez les procédures de restitution selon le cahier des charges de chaque loueur :</strong><br>
                    <span class="red">1.</span> Prenez rendez-vous pour l’expertise sur votre parc ou chez un concessionnaire local.<br>
                    <span class="red">2.</span> Validez le PV de restitution : ne plus utiliser les véhicules une fois le PV rempli ou l’expertise faite.<br>
                    <span class="red">3.</span> Enlèvement des véhicules par le loueur.<br>
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/restitution-img_step4.png"
                            '@AppBundle/Resources/public/images/restitution-img_step4.png'
                            %}
                          <img src="{{ asset_url }}" alt="Covea" class="" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">4.</span>LA CLÔTURE <br class="visible-lg">
                          DE VOTRE DOSSIER<br class="visible-lg">
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    À réception des éventuels frais de remise en état et de la facture loueur, <strong>vos prélèvements seront stoppés et votre dossier sera clos.</strong>
                  </div>
                </div><!-- .block-step -->
              </div>

            </div><!-- .row -->
          </div><!-- .inner -->
        </div>

      </div>
      <div class="section-footer">
        <div class="inner tag-ff_3">
          <a class="wrapper" href="#" title="Télécharger le bulletin d'adhésion">

            <div class="row">
              <div class="col-sm-3 col-xs-4">
                <div class="img-container img-call tag-maw_220">
                    {% image output="images/tesseract-img_call.png"
                    '@AppBundle/Resources/public/images/tesseract-img_call.png'
                    %}
                  <img src="{{ asset_url }}" alt="Contactez-nous" class="" />
                    {% endimage %}
                </div>
              </div>
              <div class="col-sm-9 col-xs-8">
                <div class="txt-container txt-call match-1 tag-fw_n tag-fz_18 tag-tt_n">
                  <strong>Vous pouvez aussi contacter un de nos commerciaux au 01 47 76 74 07<br>afin de définir vos besoins en matière de véhicule.<br></strong>
                  Profitez de nos stocks disponibles, vous aurez automatiquement<br>une réponse plus rapide à votre demande.
                </div>
              </div>
            </div>

          </a><!-- .wrapper -->
        </div><!-- inner -->
      </div>
    </section><!-- #tesseract -->
    <section id="cta" class="container-fluid">
      <div class="inner tag-maw_1070 text-center">
        <a class="wrapper tag-ff_3" href="{{ path('assurance-financiere') }}">
          <i class="icon icon-car"></i>
          CONSULTEZ NOS PRODUITS COMPLÉMENTAIRES
          <i class="icon icon-arrow-right_rounded"></i>
        </a>
      </div>
    </section><!-- #cta -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
