{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

        <div class="section-header">
          <div class="container-fluid inner">

            <div class="row">
              <div class="col-md-5 col-sm-6 navbar-default">

                <div class="block block-button dropdown">
                  <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <span class="block-body">
                    Menu
                  </span>
                  <ul class="block-footer dropdown-menu">
                    <!--li><a href="#" title="Comment ça marche ?">Comment ça marche ?</a></li>
                    <li><a href="#" title="Infos pratiques">Infos pratiques</a></li>
                    <li><a href="#" title="Produit complémentaire">Produit complémentaire</a></li>
                    <li><a href="#" title="Contact">Contact</a></li-->
                  </ul>
                </div><!-- .block-button -->

                <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                    {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
                </a><!-- #header-logo -->

              </div>
              <div class="col-md-7 col-sm-6 clearfix text-right">

                <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
                  <i class="icon icon-phone"></i>
                  01 47 76 74 07
                </a><!-- #header-phone -->

                <ul id="header-partners" class="list-unstyled list-inline">
                  <li>
					<a href="#" title="Covea">
						{% image output="images/logo-reseau.png"
						'@AppBundle/Resources/public/images/logo-reseau.png'
						%}
					  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
						{% endimage %}
					</a>
                  </li>
                  </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                </ul><!-- #header-partners -->

              </div>
            </div>
          </div>
          <div id="navbar" class="collapse">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid inner">
                <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                    {% set route = app.request.attributes.get('_route') %}
					<li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
					<li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
					<li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
					<li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
					<li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div><!-- #navbar -->
        </div><!-- .section-header -->

      </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
<main id="main">
	<section id="searchEngine" class="container-fluid">
	  <div class="inner">
		<form id="search" action="#" class="container-fluid search-form">

		  <div class="row">
			<div class="col-lg-5 col-sm-6">

			  <div class="block block-start matchHeight">
				<div class="block-body">
				  <a href="#" class="btn"><i class="icon icon-gears-3"></i><span>Recherche avancée</span><i class="icon icon-gt">&gt;</i></a>
				</div>
				<div class="block-footer">
				  <span class="title">VOTRE RECHERCHE :</span>
				  <strong class="keywords"></strong>
				</div>
			  </div><!-- .block-left -->

			</div>
			
			

			<div class="block block-start block-first pull-right">
			  <div class="block-body">
				<a href="#" class="btn active"><i class="icon icon-gears-3"></i><span>Recherche avancée</span><i class="icon icon-gt">&gt;</i></a>
			  </div>
			</div><!-- .block-left -->

			<div class="col-lg-3 col-sm-6">
			  <div class="block block-middle matchHeight trs-n">
				<div class="form-group block-body">
				  <div class="dropdown">
					<span id="searchbar-category" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-car-bars"></span><span class="ui-selectmenu-text">Categorie</span></span>
					<div class="dropdown-menu collapse">
					  <ul class="list list-unstyled">
						{% if modules.categories is not empty %}
							{% for tcat in modules.categories  %}
							{% set tmpChecked = '' %}
							{% if  (filtres.category is defined) %}
								{% if  (tcat.id in filtres.category) %}
									{% set tmpChecked = 'checked' %}
								{% endif %}
							{% endif %}
							<li><label id="searchbar_cat_{{ loop.index }}" class="searchbar_cat ui-checkboxradio-label ui-corner-all ui-button ui-widget"><span class="ui-checkboxradio-icon icon icon-check ui-icon ui-icon-background ui-icon-check ui-state-checked"></span><span class="ui-checkboxradio-icon-space"> </span><input class="checkbox ui-checkboxradio ui-helper-hidden-accessible" for="searchbar_cat_{{ loop.index }}" attr-label="{{ tcat.label }}" type="checkbox" value="{{ tcat.id }}" {{ tmpChecked }}>{{ tcat.label }}</label></li>
							{% endfor %}
						{% endif %}
						<li class="separator"></li>
						{% if modules.sous_categories is not empty %}
							{% for tscat in modules.sous_categories  %}
							{% set tmpChecked = '' %}
							{% if  (filtres.sous_category is defined) %}
								{% if  (tscat.id in filtres.sous_category) %}
									{% set tmpChecked = 'checked' %}
								{% endif %}
							{% endif %}
							<li><label class="searchbar_type" id="searchbar_cat_{{ loop.index }}"><input class="checkbox" type="checkbox" for="searchbar_cat_{{ loop.index }}" attr-label="{{ tscat.label }}" value="{{ tscat.id }}" {{ tmpChecked }}>{{ tscat.label }}</label></li>
							{% endfor %}
						{% endif %}  
					  </ul>
					</div>
				  </div>
				</div>
				<div class="form-group block-footer block-brand">
				  <div class="dropdown">
					<span id="searchbar-brand" class="ui-selectmenu-button form-control"><span class="ui-selectmenu-icon icon icon-brand"></span><span class="ui-selectmenu-text">Marque</span></span>
					<div class="dropdown-menu collapse">
					  <ul class="list list-unstyled">
						{% if modules.marques is not empty %}
							{% for tmarque in modules.marques  %}
							{% set tmpChecked = '' %}
							{% if  (filtres.marque is defined) %}
								{% if  (tmarque.id in filtres.marque) %}
									{% set tmpChecked = 'checked' %}
								{% endif %}
							{% endif %}
							<li>
                            <label id="searchbar_fuel_{{ loop.index }}">
                              <input class="checkbox" value="{{ tmarque.id }}" type="checkbox" attr-label="{{ tmarque.name }}" for="searchbar_fuel_{{ loop.index }}" {{ tmpChecked }}>{{ tmarque.name }}</label></li>
                          <li>
						  {% endfor %}
						  {% endif %}
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-lg-2 col-sm-6">

			  <div class="block block-fuel matchHeight trs-n block-carburant">
				<div class="block-header"><i class="icon icon-fuel-station"></i><span>Carburant</span></div>
				<div class="block-body">
				  <ul class="list-unstyled list-inline part-checkbox">
					<li><label id="searchbar_fuel_diesel"><input value="diesel" class="checkbox" type="checkbox" for="searchbar_fuel_diesel" {{ ('diesel' in filtres.carburant) ? 'checked' : '' }} attr-label="DIESEL">DIESEL</label></li>
                      <li><label id="searchbar_fuel_essence"><input value="essence" class="checkbox" type="checkbox" for="searchbar_fuel_essence"{{ ('essence' in filtres.carburant) ? 'checked' : '' }} attr-label="ESSENCE">ESSENCE</label></li>
                      <li><label id="searchbar_fuel_electrique"><input value="electrique" class="checkbox" type="checkbox" for="searchbar_fuel_electrique" {{ ('electrique' in filtres.carburant) ? 'checked' : '' }} attr-label="ELECTRIQUE">ELECTRIQUE</label></li>
				  </ul>
				</div>
			  </div><!-- .block -->

			</div>
			<div class="col-lg-2 col-sm-6">
			  <div class="block block-end matchHeight trs-n block-portes">
				<div class="block-header"><i class="icon icon-sandglass"></i><span>portes</span></div>
				<div class="block-body">
				  <ul class="list-unstyled list-inline part-checkbox no-margin">
					<li><label id="searchbar_cat_3"><input class="checkbox" type="checkbox" for="searchbar_cat_3" value="3" {{ ('3' in filtres.porte) ? 'checked' : '' }}>3</label></li>
					  <li><label id="searchbar_cat_4"><input class="checkbox" type="checkbox" for="searchbar_cat_3" value="4" {{ ('4' in filtres.porte) ? 'checked' : '' }}>4</label></li>
                      <li><label id="searchbar_cat_5"><input class="checkbox" type="checkbox" for="searchbar_cat_5" value="5" {{ ('5' in filtres.porte) ? 'checked' : '' }}>5</label></li>
				  </ul>
				</div>
				<div class="block-footer">
				  <div class="part part-submit">
					 <a href="#" class="submit btn" urlto="{{ path('search_result') }}">VALIDER</a>
				  </div>
				</div>
			  </div><!-- .block -->
			</div>
		  </div>

		</form><!-- #search -->
	  </div>
	</section><!-- #searchEngine -->
	
	<section id="suggestions" class="container-fluid">
	  <div class="inner">
		<h2 class="section-header">
		</h2>
		<div class="section-body">
			{% if produits is not empty %}
			<div class="row">
            {% for product in produits %}
					<div class="col-md-3 col-sm-6">
						<a href="{{ path("product-detail-intermediaire", {'id_product': product.id_produit}) }}" class="block block-suggestion" title="{{ product.nom }}">
							<strong class="block-header match-1">{{ product.nom }}</strong>
							<div class="block-body">
							  <figure class="img-container img-middle">
								{% if product.image != '' %}
									<img src="http://catalogue-loc-courtoisie.fr/bodev/bov2/web/uploads/produits/interm/{{ product.image }}" alt="{{ product.nom }}" />
								{% endif %}
							  </figure>
							  <div class="price">
								<span class="number">{{ product.prix_modif|number_format(0,".","") }}€</span>
								<span class="text">
								  <small>A partir de</small>
								  <strong>HT/MOIS</strong>
								</span>
							  </div>
							</div>
							<div class="block-footer">
							  <span class="btn">Découvrir</span>
							</div>
						</a>
					</div>
			{% endfor %}
			{% else %}
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<p>
							Nous n’avons pas pu répondre favorablement à votre recherche, nous vous invitons à contacter notre service commercial au 01.47.76.74.07 pour plus d’informations
						</p>
					</div>
				</div>
            {% endif %}
			</div>
		</div>
	  </div><!-- .inner -->
	</section><!-- #suggestions -->
	</main><!-- #main -->
{% endblock %}
{% block footer %}
  <footer id="footer">

    <div class="container-fluid inner">

      <div class="row">
        <div class="col-md-3 text-sm-center">

          <a id="footer-logo" href="#" title="{{ site_name }}">
              {{ site_name }}
          </a><!-- #footer-logo -->

        </div>

        <div class="col-md-5 col-sm-6">

          <div id="footer-contact" class="block">
            <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
            <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
            <div class="block-footer clearfix">
              <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
              <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
              <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
              <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
            </div>
          </div><!-- #footer-contact -->

        </div>
        <div class="col-md-4 col-sm-6">

          <div id="legal">
            <a class="legal-header" href="#" title="laseway">
                {% image output="images/logo_footer.png"
                '@AppBundle/Resources/public/images/logo_footer.png'
                %}
              <img src="{{ asset_url }}" alt="Leaseway" />
                {% endimage %}
            </a>
            <div class="legal-body">
              LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
              N° 491 210 175 - N°ORIAS 07035268
            </div>
          </div><!-- #legal -->

        </div>

      </div>

    </div>

  </footer><!-- #footer -->
{% endblock %}
