{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
			  <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">MENTIONS LEGALES</h1>
        <div class="section-body">
            {% image output="images/cover-img1.jpg"
            '@AppBundle/Resources/public/images/cover-img1.jpg'
            %}
          <img src="{{ asset_url }}" alt="Leaseway" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper tag-ta_c"></span></div>
        </div><!-- .wrapper -->
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
			<div class="block">
				<div class="block">
					<div style="font-size: 14px">
					

						<p style="text-align:justify"><strong>1. Présentation du site :<br />
						 </strong><br />
						Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> les informations suivantes :</p>

						<p style="text-align:justify"><strong>Informations légales : </strong></p>

						<p style="text-align:justify">Statut du propriétaire : <strong>societe</strong><br />
						Préfixe : <strong>SAS</strong><br />
						Nom de la Société :<strong> LEASEWAY</strong><br />
						Adresse : <strong>5 RUE VERNET 75008 PARIS</strong><br />
						Tél  : <strong>0147767407</strong><br />
						Au Capital de :<strong> 2000 000 €</strong><br />
						SIRET :  <strong>491210175   </strong>R.C.S. :<strong> 491210175</strong><br />
						Numéro TVA intracommunautaire : <strong>FR38491210175</strong><br />
						Adresse de courrier électronique : <strong>najete.boudinar@leaseway.fr</strong> <br />
						 <br />
						Le Créateur du site est : <strong>Espai Web Comunicacio</strong><br />
						Le Responsable de la  publication est : <strong>leaseway</strong><br />
						Contactez le responsable de la publication : <strong>contact@leaseway.fr</strong><br />
						Le responsable de la publication est une <strong>personne morale</strong><br />
						<br />
						Le Webmaster est  : <strong>Espai Web Comunicacio</strong><br />
						Contactez le Webmaster : <strong><a href="mailto:contact@espai-web.com?subject=Contact à partir des mentions légales via le site {{ site_name }}">contact@espai-web.com</a></strong><br />
						L’hebergeur du site est : <strong>IKOULA  175/177 RUE D AGUESSEAU BOULOGNE 92100</strong><br />

						<p style="text-align:justify"> </p>

						<p style="text-align:justify"><strong>2. Description des services fournis :</strong><br />
						<br />
						Le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> a pour objet de fournir une information concernant l’ensemble des activités de la société.<br />
						Le proprietaire du site s’efforce de fournir sur le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.<br />
						Tous les informations proposées sur le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.<br />
						 </p>

						<p style="text-align:justify"><strong>3. Propriété intellectuelle et contrefaçons :</strong></p>

						<p style="text-align:justify"><br />
						Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels…<br />
						Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l'email : <a href="mailto:contact@espai-web.com?subject=Contact à partir des mentions léales via le site {{ site_name }}"><strong>contact@espai-web.com</strong></a> .<br />
						Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br />
						 </p>

						<p style="text-align:justify"><strong>4. Liens hypertextes et cookies :</strong><br />
						<br />
						Le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …) mis en place avec l’autorisation de le proprietaire du site . Cependant, le proprietaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités  et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.<br />
						<br />
						L’utilisateur est informé que lors de ses visites sur le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a>, un ou des cookies sont susceptible de s’installer automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.<br />
						<br />
						Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de refuser de la manière décrite à l’adresse suivante : www.cnil.fr<br />
						Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :<br />
						Sous Internet Explorer : onglet outil / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.<br />
						Sous Netscape : onglet édition / préférences. Cliquez sur Avancées et choisissez Désactiver les cookies. Validez sur Ok.<br />
						 </p>

						<p style="text-align:justify"><strong>5. Protection des biens et des personnes - gestion des données personnelles :</strong><br />
						<br />
						Utilisateur : Internaute se connectant, utilisant le site susnommé : <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a><br />
						En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>

						<p style="text-align:justify">Sur le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a>, le proprietaire du site ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a>. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> l’obligation ou non de fournir ces informations.<br />
						Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer, adressez votre demande à <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> par email : email du webmaster ou  en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.</p>

						<p style="text-align:justify">Aucune information personnelle de l'utilisateur du site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat du site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a> à le proprietaire du site et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site <a href="http://{{ site_name }}" target="_blank">{{ site_name }}</a>.</p>

						<p style="text-align:justify">Le site {{ site_name }} est en conformité avec le RGPD voir notre politique RGPD  Chers clients,  Depuis le 25 mai est entrée en vigueur la nouvelle Réglementation Générale sur la Protection des Données (RGPD). Cette réglementation vise à rendre aux résidents européens le contrôle sur leurs données personnelles.  Chez Leaseway, la prot.</p>

						<p style="text-align:justify">Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>

					</div>
				</div>
			</div>
        </div>
        </div>

      </div>
     
    </section><!-- #tesseract -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <div class="row">
			  <a id="footer-logo" href="#" title="">
				{{ site_name }}
			  </a><!-- #footer-logo -->
			  </div>
			  </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.27</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
