{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <div class="container-fluid">
      <div id="content">
        <div class="pager container-fluid inner">
          <div class="row">
            <div class="col-sm-6 clearfix text-left">
              <a href="#" class="pager pager-prev hidden">RETOUR PAGE PRECEDENTE</a>
            </div>
            <div class="col-sm-6 clearfix text-right">
              <a href="{{ path('search_result') }}" class="pager pager-next">RETOUR PAGE NOS OFFRES</a>
            </div>
          </div>
        </div><!-- .pager -->
        <div class="content-body inner-xs">
          <div class="row">
            <div class="col-md-4">
              <div class="rte">
                <h2>Produits complémentaires</h2>
                <p><strong>Kit de marquage &laquo;Véhicule de Courtoisie&raquo;</strong></p>
              </div><!-- .rte -->
            </div>
            <div class="col-md-8">
              <img src="images/content-img1.jpg" alt="">
            </div>
          </div>
          <div class="notice ff-14 rte hightlight boxed text-center">
            <p>
              Les kits s'adaptent à tous les types de véhicules et plus particulièrement aux modèles le plus présents dans vos parcs VR. Personnalisés avec vos coordonnées, ils capitalisent sur les solutions de mobilité offertes par votre carrosserie.<br>
              Pour plus encore de facilité, vous pouvez désormais commander directement vos marquages lors de la commande de vos véhicules.<br>
              Il suffit de demander cette option lors votre demande de contrat de location en remplissant les documents ci-dessous<br>
              Pour toutes demandes plus personnalisées vous pouvez nous contacter<br>
            </p>
            <div class="notice-footer text-right">
              <a href="{{ asset('bundles/app/pdf/Bon_de_commande_Stickers_Vehicule_de_Courtoisie_LEASEWAY.pdf') }}" class="link link-pdf" title="Télécharger le bon de commande">Télécharger le bon de commande<i class="icon icon-pdf"></i></a>
            </div>
          </div>
          <div class="rte">
            <p><strong>Assurance perte financière</strong></p>
          </div><!-- .rte -->
          <div class="notice ff-14 rte hightlight boxed">
            <p>
              Dans le cadre du contrat de <strong>LOCATION LONGUE DURÉE</strong> souscrit auprès de Leaseway, vous pouvez y associer des options facultatives qui peuvent vous éviter des dépenses imprévues.<br>
              En cas de vol ou de déclaration en épave du véhicule de remplacement que vous louez, vous serez redevable de rembourser au propriétaire du véhicule (c'est à dire le loueur à l'écart financier qui pourrait apparaître entre le remboursement fait par votre assureur à la valeur vénale à dire d'expert et le solde comptable du contrat.<br>
              Plus le contrat est récent et plus le montant de l'écart est important (10 à 30% du prix du véhicule la 1ère année).<br>
              Pour couvrir contre cette situation tout à fait imprévisible, il vous faut souscrire l'assurance perte financière que Leaseway vous propose en option dans le cadre de ces contrats de location.<br>
              Cette assurance perte financière soldera automatiquement vos contrats de location sans frais (hormis la franchise de votre contrat d'assurance). <a href="#modal_img" title="Voir Exemple" rel="nofollow" data-toggle="modal">Voir Exemple</a>
            </p>
          </div>
        </div><!-- .content-body -->

      </div><!-- #content -->

    </div><!-- .container-fluid -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.45.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
