{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea"  />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
                {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
<main id="main">
        <div class="container-fluid inner-md">

          <section id="featured">
            <h1 class="featured-header">
              <span>MEILLEURES VENTES</span>
            </h1>
            <div class="featured-body container-fluid">
              <div class="row">
                {% if produits is not empty %}
                {% for product in produits %}
                <div class="col-md-4 col-sm-6">

                  <div class="block block-car matchHeight">
                    <h2 class="block-header">
                      <strong>{{ product.nom }}</strong>
                      <small>{{ product.description_courte }}</small>
                      <a href="#"><i class="icon icon-plus-circle"></i></a>
                    </h2>
                    <div class="block-body">
                      <div class="part-img">
                        <div class="img-container img-middle">
                          <img src="http://www.loc-courtoisie.fr/images/produits/interm/{{ product.image }}" alt="Leaseway" />
                        </div>
                      </div>
                      <div class="part-text">
                        <div class="label">À partir de</div>
                        <strong class="price">{{ product.prix_modif|number_format(0,".","") }}€</strong>
                        <span class="iteration">HT/MOIS</span>
                      </div>
                    </div>
                    <div class="block-footer matchHeight">
                      <strong class="category">{{ product.nom_categorie }}</strong>
                      <ul class="attributes">
                          {% set keycaracteristique = product.id_produit|number_format(0,".","") %}
                          {% if attribute(caracteristiques, keycaracteristique) is defined %}
                              {% set tcaracteristique = attribute(caracteristiques, keycaracteristique) %}
                              {% for caracteristique in tcaracteristique %}
                                <li>{{ caracteristique.nom }}</li>
                              {% endfor %}
                          {% endif %}
                      </ul>
                      <div>
                          {% set tOption = product.nom_produit_option|split(',') %}
                        <span class="duration">{{ attribute(tOption,0) }}</span> / <span class="distance">{{ attribute(tOption,1) }}</span>
                      </div>
                      <a href="#" class="subscribe btn btn-default" title="opel adam">souscrire</a>
                    </div>
                  </div><!-- .block-car -->

                </div>
                  {% endfor %}
                  {% endif %}

              </div>
            </div><!-- .featured-body -->
          </section><!-- #featured -->

          <section id="reinsurance">
            <h2 class="reinsurance-header">
              <strong>Votre partenaire</strong> véhicule de remplacement
            </h2><!-- .reinsurance-header -->

            <div class="reinsurance-body inner-sm">
              <div class="row">
                <div class="col-xs-4">

                  <div class="block">
                    <div class="block-header img-container img-middle">
                        {% image output="images/reinsurance-img1.svg"
                        '@AppBundle/Resources/public/images/reinsurance-img1.svg'
                        %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                        {% endimage %}
                    </div>
                    <strong class="block-body">FINANCEMENT<br>GARANTI</strong>
                  </div>

                </div>

                <div class="col-xs-4">

                  <div class="block">
                    <div class="block-header img-container img-middle">
                        {% image output="images/reinsurance-img2.svg"
                        '@AppBundle/Resources/public/images/reinsurance-img2.svg'
                        %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                        {% endimage %}

                    </div>
                    <strong class="block-body">OFFRES<br>MULTIMARQUE</strong>
                  </div>

                </div>

                <div class="col-xs-4">

                  <div class="block">
                    <div class="block-header img-container img-middle">
                        {% image output="images/reinsurance-img3.svg"
                        '@AppBundle/Resources/public/images/reinsurance-img3.svg'
                        %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                        {% endimage %}

                    </div>
                    <strong class="block-body">véhicule<br>d’attente</strong>
                  </div>

                </div>
              </div>
            </div><!-- .reinsurance-body -->

          </section><!-- #reinsurance -->

        </div><!-- .container-fluid -->
      </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-4">COMMERCIAL<br>01.47.76.74.07</div>
                  <div class="col-xs-4">LIVRAISON<br>01.47.75.76.84</div>
                  <div class="col-xs-4">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
