{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
              {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">VOS OBLIGATIONS</h1>
        <div class="section-body">
            {% image output="images/cover-img5.jpg"
            '@AppBundle/Resources/public/images/cover-img5.jpg'
            %}
              <img src="{{ asset_url }}" alt="Leaseway" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper tag-ta_c"><span>Avec la location de véhicule, vous avez l’obligation <br></span>de respecter certaines règles même s’il ne s’agit pas de votre activité principale.</div>
        </div><!-- .wrapper -->
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
            <div class="row tag-pt_15">

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step1.png"
                            '@AppBundle/Resources/public/images/engagement-img_step1.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">1.</span> Choix <br class="visible-lg">
                          Inscription sur votre objet social de <br class="visible-lg">l’activité de location courte durée <br class="visible-lg">en activité secondaire
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <p>La modification de l’objet social est décidée <br class="visible-lg">par les associés dans les conditions prévues pour la modification des statuts, lesquels, <br class="visible-lg">diffèrent en fonction du type de société.</p>
                    <p>Cette modification affectant les statuts, <br class="visible-lg">une publicité sommaire du nouvel objet <br class="visible-lg">doit être effectuée dans un journal d’annonces légales et déposée en annexe au RCS.</p>

                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step2.png"
                            '@AppBundle/Resources/public/images/engagement-img_step2.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">2.</span>
                          Faire connaître <br class="visible-lg">au consommateur <br class="visible-lg">les conditions de la location
                          <hr class="tag-maw_76">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <p>Avant toute location, vous devez mettre à disposition du locataire les conditions générales de location et les conditions tarifaires de location. Cette information doit être mise librement à disposition du locataire dans vos locaux.</p>
                    <p>Vous devez respecter les conditions de l’Arrêté du 17 mars 2015 relatif à l'information précontractuelle des consommateurs et à la publicité des prix des prestations de location de véhicules.</p>

                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step3.png"
                            '@AppBundle/Resources/public/images/engagement-img_step3.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">3.</span>
                          Souscrire <br class="visible-lg">une assurance <br class="visible-lg">responsabilité civile
                          <hr class="tag-maw_116">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <p><strong>Vous devez souscrire une assurance responsabilité civile obligatoire (Article L.211-1 du Code des assurances).</strong></p>
                    <p>Vous devez impérativement confirmer avec votre assureur la couverture de votre parc de véhicules que vous sous-louez soit en tant que véhicule de remplacement, soit en tant que location courte durée.</p>
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step4.png"
                            '@AppBundle/Resources/public/images/engagement-img_step4.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">4.</span>Pendant <br class="visible-lg">l’éxécution<br class="visible-lg">
                          du contrat
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    En tant que loueur de véhicule, <br classe="visible-lg">vous avez obligation : <br>
                    <span class="red">1.</span> De délivrance : mettre à la disposition <br classe="visible-lg">du locataire un véhicule en bon état de fonctionnement.<br>
                    <span class="red">2.</span> D’entretien : réaliser les réparations et l’entretien des véhicules selon les préconisations du constructeur.<br>
                    <span class="red">3.</span> De garantie : « pour tous les vices ou défauts de la chose louée qui en empêchent l’usage » au preneur, sauf disposition conventionnelle contraire (Article 1721 du Code civil).

                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step5.png"
                            '@AppBundle/Resources/public/images/engagement-img_step5.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">5.</span>  La fiscalité
                          <hr class="tag-maw_80">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <p>Pour éviter tous risques d'interprétation de l'administration fiscale sur l'utilisation de votre parc de véhicules de remplacement et pour bénéficier du régime d'imposition favorable associé à cette activité, vous devez respecter impérativement les principes suivants :</p>

                    <p>
                      <strong>• Respect du point 1.</strong>
                    </p>

                    <strong>• Répartir votre parc en 3 catégories :<br></strong>
                    1. Le parc sur lequel vous pourrez prouver, <br class="visible-lg">sans exception, que les véhicules sont toujours facturés à des clients soit à travers la prise en charge via le taux horaire facturé, soit à travers un règlement direct du client,<br>
                    2. Le parc des véhicules réservé <br class="visible-lg">à des prêts gratuits,<br>
                    3. Les véhicules utilisés pour l'entreprise <br class="visible-lg">ou par les dirigeants.<br>

                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step tag-maw_n">
                  <div class="block-header tag-d_f">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="img-container">
                            {% image output="images/engagement-img_step6.png"
                            '@AppBundle/Resources/public/images/engagement-img_step6.png'
                            %}
                          <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="txt-container match-1 tag-fz_16 tag-tt_n tag-fw_n tag-pl_0">
                          <span class="red">6.</span>  TVA et TVS
                          <hr class="tag-maw_80">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <p><strong>• Taxe sur la valeur ajoutée - TVA<br></strong>
                      Sur tous les véhicules loués contre facturation et uniquement celui-ci, vous pourrez récupérer la TVA sur les loyers facturés par le loueur.</p>

                    <p><strong>• Taxe sur les véhicules de société - TVS<br></strong>
                      Vous êtes exonérés de la TVS sur tous les véhicules de votre parc destinés à la location, si la location de véhicule est inscrite dans vos statuts (voir point 1)</p>

                  </div>
                </div><!-- .block-step -->
              </div>

            </div><!-- .row -->
          </div><!-- .inner -->
        </div>

      </div>
    </section><!-- #tesseract -->
    <section id="cta" class="container-fluid">
      <div class="inner tag-maw_1070 text-center">
        <a class="wrapper tag-ff_3" href="{{ path('assurance-financiere') }}">
          <i class="icon icon-car"></i>
          CONSULTEZ NOS PRODUITS COMPLÉMENTAIRES
          <i class="icon icon-arrow-right_rounded"></i>
        </a>
      </div>
    </section><!-- #cta -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
