{% extends 'layout.html.twig' %}

{% block header %}
  <header id="header" class="section">

    <div class="section-header">
      <div class="container-fluid inner">

        <div class="row">
          <div class="col-md-5 col-sm-6 navbar-default">

            <div class="block block-button">
              <button type="button" class="navbar-toggle collapsed block-header" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="block-body">
                    Menu
                  </span>
            </div><!-- .block-button -->

            <a id="header-logo" href="{{ path("homepage", parameters = [], relative = false) }}" title="{{ site_name }}">
                {{ site_name | capitalize | replace({'courtoisie': '<span>courtoisie</span>'}) | raw }}
            </a><!-- #header-logo -->

          </div>
          <div class="col-md-7 col-sm-6 clearfix text-right">

            <a id="header-phone" href="tel:0147767407" title="01 47 76 74 07">
              <i class="icon icon-phone"></i>
              01 47 76 74 07
            </a><!-- #header-phone -->

            <ul id="header-partners" class="list-unstyled list-inline">
              <li>
                <!--a href="#" title="Covea"><img src="images/logo-reseau.png" alt="Covea"></a-->
                <a href="#" title="Covea">
                    {% image output="images/logo-reseau.png"
                    '@AppBundle/Resources/public/images/logo-reseau.png'
                    %}
                  <img src="{{ asset_url }}" alt="Covea" class="covea" />
                    {% endimage %}
                </a>
              </li>
              <li>
                <a href="#" title="Leaseway">
                    {% image output="images/logo-leaseway.svg"
                    '@AppBundle/Resources/public/images/logo-leaseway.svg'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
              </li>
            </ul><!-- #header-partners -->

          </div>
        </div>
      </div>
      <div id="navbar" class="collapse">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid inner">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
              {% set route = app.request.attributes.get('_route') %}
              <li {{ route ==  'votre-commande' ? 'class="active"' }}><a href="{{ path('votre-commande') }}">Votre commande</a></li>
              <li {{ route ==  'obligations' ? 'class="active"' }}><a href="{{ path('obligations') }}">Vos obligations</a></li>
              <li {{ route ==  'restitution' ? 'class="active"' }}><a href="{{ path('restitution') }}">La restitution</a></li>
              <li {{ route ==  'assurance-financiere' ? 'class="active"' }}><a href="{{ path('assurance-financiere') }}">Assurance perte financière</a></li>
              <li {{ route ==  'mentions-legales' ? 'class="active"' }}><a href="{{ path('mentions-legales') }}">Mentions legales</a></li>
<li {{ route ==  'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- #navbar -->
    </div><!-- .section-header -->

  </header><!-- #header -->
{% endblock %}
{% block theblog_body %}
  <main id="main">
    <section id="cover" class="container-fluid">
      <div class="inner">
        <h1 class="section-header tag-ff_3">VOTRE COMMANDE</h1>
        <div class="section-body">
            {% image output="images/cover-img2.jpg"
            '@AppBundle/Resources/public/images/cover-img2.jpg'
            %}
              <img src="{{ asset_url }}" alt="Leaseway" />
            {% endimage %}
        </div>
      </div>
    </section><!-- #cover -->
    <section id="tesseract" class="tag-ff_3 tag-ls_n">
      <h2 class="section-header container-fluid">
        <div class="inner">
          <div class="wrapper tag-ta_c"><span>A plus glass, en partenariat avec Leaseway, vous propose de simplifier vos démarches<br></span>pour l'acquisition de votre parc de véhicules de remplacement.</div>
        </div><!-- .wrapper -->
      </h2>
      <div class="section-body container-fluid">

        <div class="inner">
          <div class="wrapper tag-maw_1070">
            <div class="row tag-pt_15">

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/tesseract-img_step1.png"
                            '@AppBundle/Resources/public/images/tesseract-img_step1.png'
                            %}
                              <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">1.</span> Choix <br class="visible-lg">
                          du véhicule<br class="visible-lg">
                          SUR LE CATALOGUE
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <strong>Consultez notre site et faites votre choix :</strong>  toutes marques, tous modèles, couvrant l'ensemble des catégories nécessaires à votre activité aussi bien en VP qu'en VU.
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/tesseract-img_step2.png"
                            '@AppBundle/Resources/public/images/tesseract-img_step2.png'
                            %}
                              <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">2.</span>
                          SYSTÈME <br class="visible-lg">
                          DE COMMANDE<br class="visible-lg">
                          SIMPLIFIÉ
                          <hr class="tag-maw_76">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <strong>Éditez le bon de pré-réservation de votre véhicule</strong> avec la durée et le kilométrage souhaité. Retournez celui-ci par mail à votre commercial.
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/tesseract-img_step3.png"
                            '@AppBundle/Resources/public/images/tesseract-img_step3.png'
                            %}
                              <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">3.</span>
                          Étude<br>
                          financière<br>
                          de la société<br>
                          <hr class="tag-maw_116">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    À l’issue de celle-ci, <strong>nous vous communiquerons votre contrat de location définitif :</strong> il est impératif de le renvoyer dûment complété dans les plus brefs délais.
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/tesseract-img_step4.png"
                            '@AppBundle/Resources/public/images/tesseract-img_step4.png'
                            %}
                              <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">4.</span>CONFIRMATION<br class="visible-lg">
                          DE VOTRE<br class="visible-lg">
                          COMMANDE
                          <hr class="tag-maw_107">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <strong>À réception du contrat, votre commande sera confirmée</strong> au concessionnaire et nous vous communiquerons le délai de livraison du véhicule.
                  </div>
                </div><!-- .block-step -->
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="block block-step">
                  <div class="block-header">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="img-container">
                            {% image output="images/tesseract-img_step5.png"
                            '@AppBundle/Resources/public/images/tesseract-img_step5.png'
                            %}
                              <img src="{{ asset_url }}" alt="Leaseway" />
                            {% endimage %}
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <div class="txt-container match-1">
                          <span class="red">5.</span> LIVRAISON<br class="visible-lg">
                          DE VOTRE<br class="visible-lg">
                          VÉHICULE
                          <hr class="tag-maw_80">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block-body"></div>
                  <div class="block-footer match-2">
                    <strong>Votre véhicule vous sera livré chez vous.<br></strong>
                    Leaseway reste à votre écoute pendant toute la durée de votre location afin de faire évoluer les termes de votre contrat si nécessaire (kilométrage, durée...).
                  </div>
                </div><!-- .block-step -->
              </div>

            </div><!-- .row -->
          </div><!-- .inner -->
        </div>

      </div>
      <div class="section-footer">
        <div class="inner tag-ff_3">
          <a class="wrapper" href="#" title="Télécharger le bulletin d'adhésion">

            <div class="row">
              <div class="col-sm-3 col-xs-4">
                <div class="img-container img-call tag-maw_220">
                    {% image output="images/tesseract-img_call.png"
                    '@AppBundle/Resources/public/images/tesseract-img_call.png'
                    %}
                      <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </div>
              </div>
              <div class="col-sm-9 col-xs-8">
                <div class="txt-container txt-call match-1 tag-fw_n tag-fz_18 tag-tt_n">
                  <strong>Vous pouvez aussi contacter un de nos commerciaux au 01 47 76 74 07<br>afin de définir vos besoins en matière de véhicule.<br></strong>
                  Profitez de nos stocks disponibles, vous aurez automatiquement<br>une réponse plus rapide à votre demande.
                </div>
              </div>
            </div>

          </a><!-- .wrapper -->
        </div><!-- inner -->
      </div>
    </section><!-- #tesseract -->
    <section id="cta" class="container-fluid">
      <div class="inner tag-maw_1070 text-center">
        <a class="wrapper tag-ff_3" href="{{ path('assurance-financiere') }}">
          <i class="icon icon-car"></i>
          CONSULTEZ NOS PRODUITS COMPLÉMENTAIRES
          <i class="icon icon-arrow-right_rounded"></i>
        </a>
      </div>
    </section><!-- #cta -->
  </main><!-- #main -->
{% endblock %}
{% block footer %}
<footer id="footer">

        <div class="container-fluid inner">

          <div class="row">
            <div class="col-md-3 text-sm-center">

              <a id="footer-logo" href="#" title="{{ site_name }}">
                  {{ site_name }}
              </a><!-- #footer-logo -->

            </div>

            <div class="col-md-5 col-sm-6">

              <div id="footer-contact" class="block">
                <strong class="block-header">LEASEWAY SERVICE COURTOISIE</strong>
                <div class="block-body">1051 RUE DES CORMIERS 78 630 ORGEVAL</div>
                <div class="block-footer clearfix">
                  <div class="col-xs-3">COMMERCIAL<br>01.47.76.74.07</div>
				  <div class="col-xs-3">COMMANDE<br>01.47.76.75.07</div>
				  <div class="col-xs-3">LIVRAISON<br>01.47.75.76.84</div>
				  <div class="col-xs-3">RESTITUTION<br>01.47.75.76.61</div>
                </div>
              </div><!-- #footer-contact -->

            </div>
            <div class="col-md-4 col-sm-6">

              <div id="legal">
                <a class="legal-header" href="#" title="laseway">
                    {% image output="images/logo_footer.png"
                    '@AppBundle/Resources/public/images/logo_footer.png'
                    %}
                  <img src="{{ asset_url }}" alt="Leaseway" />
                    {% endimage %}
                </a>
                <div class="legal-body">
                  LEASEWAY SAS au Capital de 2.000.000 euros, RCS PARIS<br>
                  N° 491 210 175 - N°ORIAS 07035268
                </div>
              </div><!-- #legal -->

            </div>

          </div>

        </div>

      </footer><!-- #footer -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$('document').ready(function(){$('.navbar-toggle').trigger('click')});
</script>
{% endblock %}
